@model VoteWithYourWallet.Models.Cause
@using Microsoft.AspNet.Identity;
@using VoteWithYourWallet.Models;
@using System.Web.Mvc;
@using System.Linq;

@{
    ViewBag.Title = "Cause Details";



}

<div class="row text-center">
    <div class="col-md-6 mx-auto"><h1 class="display-4">@Html.DisplayFor(model => model.Title)</h1></div>
</div>
<hr>
<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="row">
            <div class="col-md-8">
                @if (Model.Image.Length < 1)
                {
                    <img class="img-fluid" src="images/causePhoto.jpg">
                }
                else
                {
                    <img class="img-fluid" src="@Url.Content(Model.Image)">
                }

                <p class="lead">@Html.DisplayFor(model => model.ShortDescription)</p>
                <p>@Html.DisplayFor(model => model.LongDescription)</p>
                <span id="socialMediaButtons">
                    <!-- Social Media Buttons -->
                    <button class="btn facebook"><i class="fab fa-facebook fa-lg"></i> Share</button>
                    <button class="btn twitter"><i class="fab fa-twitter fa-lg"></i> Share</button>
                    <button class="btn google"><i class="fab fa-google fa-lg"></i> Share</button>
                </span>
                <hr>
            </div>
            <div class="col-md-4">
                @using (Ajax.BeginForm("SignCause", new AjaxOptions()
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "dane"
    }))
    {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ApplicationUserID, new { Value = User.Identity.GetUserId() })
            using (var db = new ApplicationDbContext())
{
    int SignatureCount = (from row in db.Signatures
                          where row.CauseID == Model.CauseID
                          select row).Count();
            <p class="text-muted">This cause has...</p>
            <h1 class="display-4"><strong><span class="signatureCount">@SignatureCount</span> </strong><small class="text-muted">signatures</small></h1>
            <button type="submit" class="btn btn-success btn-lg btn-block" id="signatureButton">Sign this cause</button>
}
}
                <br>
                <h5>Other who have signed..</h5>
                <table class="table table-sm" id="SignaturesList">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">
                                Name </th>
                                <th scope="col">When
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Signatures)
            {

                <tr>
                    <th scope="row"><span class="oi oi-person"></span> @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName) @Html.DisplayFor(modelItem => item.ApplicationUser.LastName)</th>
                    <td><small><span class="timeago">@Html.DisplayFor(modelItem => item.DateTimeSigned)</span></small></td>
                </tr>
}
                        @*<tr>
                    <th scope="row"><span class="oi oi-person"></span> David Smith</th>
                    <td><small>5 minutes ago</small></td>
                </tr>
                <tr>
                    <th scope="row"><span class="oi oi-person"></span> Nick Besagni</th>
                    <td><small>1 hour ago</small></td>
                </tr>
                <tr>
                    <th scope="row"><span class="oi oi-person"></span> Lindsay McPhee</th>
                    <td><small>yesterday</small></td>*@
                        @*</tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    <h4>Cause</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CauseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


