@model VoteWithYourWallet.Models.Cause
@using Microsoft.AspNet.Identity;
@using VoteWithYourWallet.Models;
@using System.Web.Mvc;
@using System.Linq;

@{
    ViewBag.Title = "Cause Details";



}

<div class="row text-center">
    <div class="col-md-6 mx-auto"><h1 class="display-4">@Html.DisplayFor(model => model.Title)</h1></div>
</div>
<hr>
<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="row">
            <div class="col-md-8">
                <div class="DetailsImgContainter" style="position:relative;">
                    @if (Model.Image.Length < 1)
        {
            <img class="img-fluid" src="images/causePhoto.jpg">
}
else
{
            <img class="img-fluid" src="@Url.Content(Model.Image)">
}
            <div class="TargetOverlay" style="color: white;  height: 72px; border-radius: 35px; opacity: 1.0; z-index: 5; position:absolute; right:10px; bottom: 0px; background-color: #d9534f; text-align: right; vertical-align: middle; line-height: 50px;">
                <i class="fas fa-bullseye display-3"></i>
                <strong class="display-4">@Html.DisplayFor(model => model.Target)</strong>
            </div>
                </div>
                <div>
                    <p class="lead">@Html.DisplayFor(model => model.ShortDescription)</p>
                    <p>@Html.DisplayFor(model => model.LongDescription)</p>
                    <p class="text-right">
                        <small>Cause created by <strong>@Html.DisplayFor(modelItem => Model.ApplicationUser.FirstName) @Html.DisplayFor(modelItem => Model.ApplicationUser.LastName)</strong></small>
                    </p><br />
                    <span id="socialMediaButtons">
                        <!-- Social Media Buttons -->
                        <button class="btn facebook"><i class="fab fa-facebook fa-lg"></i> Share</button>
                        <button class="btn twitter"><i class="fab fa-twitter fa-lg"></i> Share</button>
                        <button class="btn google"><i class="fab fa-google fa-lg"></i> Share</button>
                    </span>
                    <hr>
                    <p class="text-right">

                        <!-- Check if admin or creator -->
                        @if (User.IsInRole("Admin") || Model.ApplicationUserID == User.Identity.GetUserId())
        {
                <a href="@Url.Action("Edit", new { id = Model.CauseID })" class="btn btn-info">
                    <i class="fas fa-edit"></i> Edit
                </a>
                <a href="@Url.Action("Delete", new { id = Model.CauseID })" class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i> Delete
                </a>

}
                    </p>
                </div>
            </div>
            <div class="col-md-4">

            <p class="text-muted">This cause has...</p>
            <h1 class="display-4"><strong><span class="signatureCount">@Html.Partial("_SignatureCount", new ViewDataDictionary { { "CauseID", Model.CauseID } })</span> </strong><small class="text-muted">signatures</small></h1>
            <button type="button" class="btn btn-success btn-lg btn-block" id="signatureButton" data-toggle="modal" data-target="#signatureModal">Sign this cause</button>


                @*<script type="text/javascript">

    @*$(document).ready(function () {
        function refreshSignatures () {
            var CauseID =  @Model.CauseID;
               $(".SignatureCount").load('@(Url.Action("_SignatureCount","Causes",null, Request.Url.Scheme))?CauseID=' + CauseID);
        };
        setInterval(refreshSignatures, 1000);
    });*@
                @*</script>*@
                <br>
                <h5>Other who have signed..</h5>
                <table class="table table-sm" id="SignaturesList">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">
                                Name
                            </th>
                            <th scope="col">
                                When
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Signatures)
            {

                <tr>
                    <th scope="row"><span class="oi oi-person"></span> @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName) @Html.DisplayFor(modelItem => item.ApplicationUser.LastName)</th>
                    <td><small><span class="timeago">@Html.DisplayFor(modelItem => item.DateTimeSigned)</span></small></td>
                </tr>
}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CauseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<!-- Signature Modal-->
<div class="modal fade" id="signatureModal" role="dialog" aria-labelledby="signatureModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signatureModalLabel">Sign a Cause</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (Request.IsAuthenticated)
                {
            @Html.Partial("_SignCause", new ViewDataDictionary { { "CauseID", Model.CauseID } })
                }
                else
                {
                    <p>You must be logged in to sign up to a cause.
                <br />
                Please <a href="#" data-dismiss="modal"  data-toggle="modal" data-target="#loginModal" data-whatever="signIn" aria-controls="signIn">sign in</a> or 
                <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#loginModal" data-whatever="signUp" aria-controls="signUp">register</a> an account with us.</p>
                }
            </div>
            
        </div>
    </div>
</div>
<!-- /. Signature Modal -->