@model IEnumerable<VoteWithYourWallet.Models.Cause>
@using Microsoft.AspNet.Identity.EntityFramework;
@using Microsoft.AspNet.Identity;
@using System.Web.Mvc;
@using System.Linq;
@using System.Net;
@using System.Web;
@using System.Web.Mvc;
@using VoteWithYourWallet.Models;
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row text-center">
        <div class="col-md-6 mx-auto"><h1 class="display-4">Browse our causes</h1></div>
    </div>
    <hr>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>



    @{ var i = 1; }




    @foreach (var item in Model)
    {
        if ((i + 2) % 3 == 0)
        {
            @:<div class="row card-group align-content-center">
}



using (var db = new ApplicationDbContext())
{
    int SignatureCount = (from row in db.Signatures
                          where row.CauseID == item.CauseID
                          select row).Count();




                  <div class="card">
                      @if (item.Image.Length < 1)
    {
                  <img class="card-img-top" src="images/causePhoto.jpg">
}
else
{
                  <img class="card-img-top" src="@Url.Content(item.Image)" alt="@Html.DisplayFor(modelItem => item.Title) image">
}

                  <div class="card-body">
                      <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>

                      <hr />
                      <p class="card-text">
                          @Html.DisplayFor(modelItem => item.ShortDescription)
                      </p>
                      <hr />
                      <p class="text-right">
                          <strong>@SignatureCount</strong> signatures so far...
                      </p>
                  </div>


                              




                          <div class="card-footer">
                              <p class="text-right">
                                  <a href="@Url.Action("Details", new { id = item.CauseID })" class="btn btn-success">
                                      View details
                                  </a>
                                  @if (User.IsInRole("Admin"))
            {
                      <a href="@Url.Action("Delete", new { id = item.CauseID })" class="btn btn-danger">
                          <i class="fas fa-trash-alt"></i>
                      </a>
}

                              </p>
                          </div>
                      </div>
            }

            if (i % 3 == 0)
            {
                @:</div> <br />
        }
        if ((Model.Count() % 3 != 0) && i - 1 == Model.Count())
        {
            @:</div> <br />
    }
    i++;

    @*<tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CauseID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CauseID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CauseID })
            </td>
        </tr>*@




}
    </div>