@model VoteWithYourWallet.Models.Cause

@{
    ViewBag.Title = "Cause Signatures";
}

<div class="row text-center">
    <div class="col-md-6 mx-auto"><h1 class="display-4">Signatures for '@Html.DisplayFor(model => model.Title)'</h1></div>
</div>
<hr>
<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="row">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Message
                        </th>
                        <th>
                            When
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Signatures.OrderByDescending(s => s.DateTimeSigned))
                    {
                    <tr>
                        <th scope="row"><i class="fas fa-user-circle"></i> @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName) @Html.DisplayFor(modelItem => item.ApplicationUser.LastName)</th>
                        <td>@Html.DisplayFor(modelItem => item.Message)</td>
                        <td><small><time class="timeago" datetime="@Html.DisplayFor(modelItem => item.DateTimeSigned)">@Html.DisplayFor(modelItem => item.DateTimeSigned)</time></small></td>
                    </tr>

                    }

                </tbody>
            </table>




            </div>
        </div>
    </div>


<p>

    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Back to Cause", "Details", new { id = Model.CauseID })
