@model VoteWithYourWallet.Models.Signature

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Signature</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeSigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimeSigned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SignatureID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
