@using VoteWithYourWallet.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vote to Veto</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark justify-content-between">
        @Html.ActionLink("VOTE to VETO", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Start a cause", "Create", "Causes", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Browse", "Index", "Causes", new { area = "" }, new { @class = "nav-link" })</li>
            </ul>
            @Html.Partial("_CauseSearchForm", new Cause())
            @Html.Partial("_LoginPartial")
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <!-- Login Modal-->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Sign Up or Log In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <nav>
                        <div class="nav nav-tabs" id="signUpOrInTabs" role="tablist">
                            <a class="nav-item nav-link active" href="#signUp" id="signUp-tab" data-toggle="tab" role="tab" aria-controls="signUp" aria-selected="true">Sign up</a>
                            <a class="nav-item nav-link" href="#signIn" id="signIn-tab" data-toggle="tab" role="tab" aria-controls="signIn" aria-selected="false">Log in</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="logintabContent">
                        <!-- Sign Up tab -->
                        <div class="tab-pane fade show active" id="signUp" role="tabpanel" aria-labelledby="signUp-tab">
                            @Html.Partial("_RegisterPartial", new RegisterViewModel())
                        </div>
                        <!-- Sign In tab -->
                        <div class="tab-pane fade show" id="signIn" role="tabpanel" aria-labelledby="signIn-tab">
                            @Html.Partial("_LoginModalPartial", new LoginViewModel())
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /. Login Modal -->







    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Vote With Your Wallet</p>
        </footer>
    </div>
    <!-- Bootstrap, jQuery and Popper scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery.timeago.js"></script>
    <script src="~/Scripts/Site.js"></script>
    <!-- Moment JS required for TimeAgo patch-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
